html, body {
	background-color: #FFEFD5;
	margin: 0px;
	height: 100%;
	font-family: 'Roboto Slab', serif;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left:0;
	right:0;
	height: 120%;
	background-image: url(images/background.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}
.menu {
	height: 3.5em;
	background: #F0F0F0;
	width: 100%;
	z-index: 5;
	vertical-align: central;
	text-align: center;
	display: table-cell;
	position: fixed;
	top: 0;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
    box-shadow: 5px 5px 10px #666666;
}
.wrapper {
	height: 100%;
	position: relative;
	width: 80%;
	max-width: 1080px;
	display: table;
	margin: auto;
}
ul {
	margin: 0px;
	padding: 0px;
	height: inherit;
	list-style-type: none;
	width: auto;
}
li {
	width: 15%;
	text-align: center;
	vertical-align: middle;
	height: inherit;
	display: inline-block;
	cursor:pointer;
}

.logo, li {
	margin-top:0px;
	margin-bottom:0px;
	height: inherit;
	background-repeat: no-repeat;
	background-position: center;
}
.list{
	display:none;
}
.me{
	background-image:url(images/profile_24.png);
}
.web{
	background-image:url(images/web_24.png);
}
.and{
	background-image:url(images/android_24.png);
}
.math{
	background-image:url(images/calculator_24.png);
}
.resu{
	background-image:url(images/resume_24.png);
}
.git {
	background-image: url(images/GitHub_24.png);
}
.linkedin {
	background-image: url(images/linkedin_bw_24.png);
}


.logo{
	width:10%;
	float:right;
	min-width:24px;
}
.link{
	color:inherit;
	text-decoration:inherit;
}

.main {
	position: fixed;
	color: white;
	width:100%;
	left:50%;
	margin:0 0 0 -50%;
	top: 35vh;
	text-align: center;
	font-weight: 700;
	font-size:5vw;
	padding:0;
	margin-bottom:0;
	text-shadow: 0.2em 0.1em #666666;
}
.hello{
	font-size: 200%;
	margin:0;
	padding:0;
}
.container {
	position: relative;
	top: 100%;
	width: 100%;
	min-height: 150%;
}
.content{
	background-color:rgba(255,255,255,1);
	min-height:50vh;
	height:auto;
	padding:10px 0 0 0;	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.cards{
    margin:auto;
    width:100%;
    max-width: 1000px;
}
.about_content, .web_content, .and_content, .math_content{
	min-height:auto;
	padding-bottom:4rem;
	padding-top:4rem;
	padding-left:3%;
	padding-right:3%;
}
.web_content, .math_content{
	background-color:rgba(200,200,200,1);
}
.content h3{
	margin:0;
	text-align:center;
	margin-top:15px;
	font-size:1.75rem;
}
.content p{
	font-size:1.25rem;
	font-family:'Open Sans', sans-serif;
}
.content h1{
	font-size:2em;
	text-align:center;
	margin-top:0;
}
.left{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	vertical-align:middle;
}
.right{
	width:80%;
	padding-top:2%;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
.image{
	width:auto;
	height:auto;
	vertical-align:middle;
	max-height:20em;
	max-width:100%;
	display:inline-block;
	border:2px solid black;
	border-radius:5px;
}
.laptop{
	display:none;
}
.and_sub{
	margin-top:5em;
}
.footer{
	width:100%;
	margin-top:0;
    padding-bottom: 20px;
	margin-left:0;
	margin-right:0;
	text-align:center;
	min-height:5em;
}
.f_button, .c_button{
	position:relative;
	border:2px solid #607D8B;
	margin-left:auto;
	margin-right:auto;
	margin-top:0.75rem;
	margin-bottom:0.75rem;
	width:10rem;
	height:3rem;
	line-height:3rem;
	border-radius:0.75rem;
	text-align:center;
	vertical-align:middle;
	font-size:1.2rem;
}
.f_button:hover, .c_button:hover{
	background-color:#CCCCCC;
}
.f_button a, .c_button a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-decoration:none;
	color:inherit;
}
.border{
	width:75%;
	border-top:2px solid black;
	margin-top:0;
	margin-bottom:5vh;
}
.profile{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1rem;
	border-radius:50%;
	min-width:150px;
	display:block;
}
.intro{
	overflow: hidden;
	vertical-align:middle;
}
@media (min-width:421px){
.me{
	background-image:url(images/profile.png);
}
.web{
	background-image:url(images/web.png);
}
.and{
	background-image:url(images/android.png);
}
.math{
	background-image:url(images/calculator.png);
}
.resu{
	background-image:url(images/resume.png);
}
.git {
	background-image: url(images/GitHub.png);
}
.linkedin {
	background-image: url(images/linkedin_bw.png);
}
li{
	width:19%;
}
.main{
	text-shadow: 3px 3px #666666;
}
}
@media (min-width:768px) {
.list{
	display:inline-block;
	cursor:pointer;
}
.invert:hover {
	background: #c8c8c8;
}
li {
	float:none;
	height: inherit;
}
.logo{
	width:35px;
	margin-right:3em
}
.and, .me, .web, .math,.resu{
	background:none;
}
.menu{
	opacity: 1;
}
.wrapper {
	width: 70%;
	display:table;
}
.linkedin{
	margin-right:5%;
}
.git {
	background-image: url(images/GitHub-Light.png);
}
.git:hover {
	background-image: url(images/GitHub.png);
}
.linkedin:hover {
	background-image: url(images/linkedin.png);
}
.main{
	text-shadow: 4px 4px #666666;
}
.content{
	background-color:rgba(255,255,255,0.9);
}
.web_content, .math_content{
	background-color:rgba(200,200,200,0.3);
}
.cards{
	width:90%;
	text-align: justify;
}
.left{
	width:34%;
	display:inline-block;
}
.right{
	width:59%;
	padding-left:5%;
	display:inline-block;
	vertical-align:middle;
}
.mobile{
	display:none;
}
.laptop{
	display:inline;
}
.f_button{
	display:inline-block;
	margin-left:1.5rem;
	margin-right:1.5rem;
}
.profile{
	width:20%;
	float:left;
	margin-right:5%;
	margin-bottom:0;
}
}
 @media (min-width:992px) {
.linkedin{
	margin-right:10%;
}
.main{
	font-size:4em;
}
}