/*BODY*/
html, body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background-color: #F6F6F6;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 1.2;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
