/*BODY*/
html, body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background-color: #F6F6F6;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 1.2;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #666;
}
